<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="cssForMyOrderPage.css" />
	</head>
	<body>
		<!--容器-->
		<div class="container">
			<!--顶部页面标题*我的订单*与后退svg-->
			<div class="headingBox">
				<img src="returnbutton.svg" id="returnbtn" class="returnButtonSize""/>
				<label class=" headingText">我的订单</label>
			</div>
			<!--正在进行的订单-->
			<div class="ModuleTitleBox">
				<p class="ModuleTitleText"><b>正在进行的订单</b></p>
			</div>
			<!--取餐号-->
			<div class="Takingfoodpanel">
				<br>
				<p class="Takingfoodnumber"><b>A0001</b></p>
				<p class="Takingfoodtext">取餐号</p>
				<p class="Takingfoodaddtion">请凭借取餐号到对应窗口取餐</p>
				<br>
			</div>
			<!--历史订单-->
			<div class="ModuleTitleBox">
				<p class="ModuleTitleText"><b>历史订单</b></p>
			</div>
			<!--订单详情-->
			<!--部分数据应通过服务器调用-->
			<div class="OrderHistorypanel">
				<div class="OrderHistoryBox">
					<div>
						<br>
						<label class="OrderHistoryText"><b>订单详情</b></label>
						<label class="OrderHistorydateplace">2019年12月18日 第五食堂</label>
						<div class="clear"></div>
					</div>
					<hr>


					<img src="1.jpg" id="img1" class="OrderHistoryimg" alt="">
					<label class="OrderHistoryfoodname">&nbsp;&nbsp;<b>麻婆豆腐</b></label>
					<label class="OrderHistoryamount1">&nbsp;&nbsp;<b> ￥</b><b>3.00</b></label>
					<br><br>
					<label class="OrderHistoryText">&nbsp;&nbsp;&nbsp;&nbsp;*<b>10</b></label>
					<label class="OrderHistoryamount1"><b> ￥</b><b>30.00</b></label>
					<br><br><div class="clear"></div>


					<img src="1.jpg" id="img1" class="OrderHistoryimg" alt="">
					<label class="OrderHistoryfoodname">&nbsp;&nbsp;<b>麻婆豆腐</b></label>
					<label class="OrderHistoryamount1">&nbsp;&nbsp;<b> ￥</b><b>5.00</b></label>
					<br><br>
					<label class="OrderHistoryText">&nbsp;&nbsp;&nbsp;&nbsp;*<b>1</b></label>
					<label class="OrderHistoryamount1"><b> ￥</b><b>5.00</b></label>
					<br><br><div class="clear"></div>


					<hr>
					<label class="OrderHistorynumber">订单编号：201912180001</label>
					<label class="OrderHistoryamount2"><b>&nbsp;&nbsp;35.00</b></label>
					<label class="OrderHistoryamount1"><b>小计 ￥</b></label>
					<br>
				</div>
			</div>
		</div>
	</body>
</html>
