<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.FavoriteDishMapper">
  <resultMap id="BaseResultMap" type="com.niit.pojo.FavoriteDish">
    
    <id column="favorite_dish_id" jdbcType="INTEGER" property="favoriteDishId" />
     
     <result column="favorite_id" jdbcType="INTEGER" property="favoriteId" />
     
     <association column="dish_id" javaType="com.niit.pojo.Dish" jdbcType="INTEGER" property="dishId" resultMap="DishMap" />
   
  </resultMap>
  
  <resultMap id="DishMap" type="com.niit.pojo.Dish">
    <id column="dish_id" jdbcType="INTEGER" property="dishId" />
    <result column="window_id" jdbcType="INTEGER" property="windowId" />
    <result column="dish_name" jdbcType="VARCHAR" property="dishName" />
    <result column="dish_price" jdbcType="DECIMAL" property="dishPrice" />
    <result column="dish_discription" jdbcType="VARCHAR" property="dishDiscription" />
     <result column="sort" jdbcType="INTEGER" property="type" />
  </resultMap>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from favorite_dish
    where favorite_dish_id = #{favoriteDishId,jdbcType=INTEGER}
  </delete>
  
   <delete id="deleteByUserId" parameterType="java.lang.Integer">
    delete from favorite_dish
    where favorite_id = #{userId,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByUserIdAndDishId" parameterType="map">
    delete from favorite_dish
    where favorite_id = #{userId,jdbcType=INTEGER} and dish_id=#{dishId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.niit.pojo.FavoriteDish">
    insert into favorite_dish (dish_id, favorite_id
      )
    values (#{dishId.dishId,jdbcType=INTEGER}, #{favoriteId,jdbcType=INTEGER}
      )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.niit.pojo.FavoriteDish">
    update favorite_dish
    set dish_id = #{dishId.dishId,jdbcType=INTEGER},
      favorite_id = #{favoriteId,jdbcType=INTEGER}
    where favorite_dish_id = #{favoriteDishId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select favorite_dish_id, dish_id, favorite_id
    from favorite_dish
    where favorite_dish_id = #{favoriteDishId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap">
  select fd.*,d.*
  from favorite_dish fd left join dish d on fd.dish_id=d.dish_id
   where favorite_id=#{userId,jdbcType=INTEGER}
  </select>
 
  
  <select id="selectAll" resultMap="BaseResultMap">
 select fd.*,d.*
from favorite_dish fd left join dish d on fd.dish_id=d.dish_id
  
  </select>
  
 

</mapper>